// **************************************
// FLEX STYLES
// **************************************
@use "../utilities" as *;
/*------FLEXBOX LAYOUT STYLES-----------*/
.flex__container,
.flex__container--testimonials {
  @include flex_me();
}

.flex__container,
.flex__container--rating-bars,
.flex__container--ratings {
  align-items: center;
}

.flex__container--ratings,
.flex__container--rating-bars,
.flex__container--header,
.flex__container--testimonials {
  @include flex_me($dir: column);
}

.flex__container--header,
.flex__container--rating-bars,
.flex__container--testimonials {
  justify-content: center;
}

.flex__container {
  // Flex Styles for the ratings section
  &--rating-bars {
    @include mq("lg") {
      padding-top: px-to-rems(30px);
      align-items: flex-end;
    }
  }

  &--ratings {
    width: 100%;
    @include mq("lg") {
      @include flex_me($dir: row, $just: space-around);
    }
    @include mq("lg") {
      width: 70%;
    }
  }

  // Flex Styles for the Testimonial section
  &--testimonial-cards {
    @include mq("lg") {
      @include flex_me($just: space-between);
      gap: 10px;
    }
  }

  &--testimonials {
    @include mq("lg") {
      max-width: 385px;
      width: 385px;
      max-height: 250px;
    }
  }
}

.flex__container--ratings:nth-of-type(1) {
  @include mq("lg") {
    transform: translateX(-100px);
  }
}
.flex__container--ratings:nth-of-type(2) {
  @include mq("lg") {
    transform: translateX(-50px);
  }
}

.flex__container--testimonials:nth-of-type(2) {
  @include mq("lg") {
    transform: translateY(15px);
  }
}
.flex__container--testimonials:nth-of-type(3) {
  @include mq("lg") {
    transform: translateY(30px);
  }
}
